# ignore ALL the __pycache__ folders in any subdirectory
**/__pycache__/

# Ignore the vscode folder
.vscode/

# Ignore the map folder
analysis_normalized/maps/

# ignore the logs folder
logs/

# ignore the .log files
*.log

# ignore the .pyc files
*.pyc

# ignore the .py.log files
*.py.log

# ignore the pickle files
*.pkl

# ignore the geopackage files
*.gpkg

# ignore auxiliar LaTex files
*.aux
*.acn
*.acr
*.alg
*.bbl
*.bcf
*.blg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.lof
*.out
*.run.xml
*.synctex
*.synctex(busy)
*.synctex.gz
*.toc

